.foot_black{
    background-color: black;
    height: 400px;
    margin-top: -16px;
    overflow-y: hidden;
}
.phone{
    color: rgb(185, 183, 183);
    text-align: left;
    padding-top: 140px;
    padding-left: 180px;
    font-size: 14px;
}
.phone a{
    color: rgb(185, 183, 183);
    /* text-align: left; */
}
.foot_link{
    color: rgb(185, 183, 183);
    text-decoration: underline;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: left;
    padding-top: 1px;
    padding-left: 180px;
    padding-right: 200px;
    font-size: 14px;
}
.foot_lang{
    padding-top: 130px;
    padding-left: -10px; 
    position: relative;
    left: -10px;
} 